{% extends 'Authbase.html' %}
{% block content %}
{% load static %}



<div class="test">
</div>

<div class="mt-5 login_main_div">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card border-0 shadow-lg">
                <div class="card-header bg-white pb-3">
                    <h1 class="text-center fw-bold pb-1">Sign In</h1>
                    <hr class="mb-4">
                </div>
                <div class=" p-4">
                    {% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <strong>Error!</strong> {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
                    <form method="post" class="shadow-sm rounded border p-4  debug">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="mb-3 login_">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}

                            {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-lg "  style="background-color: #0EA2BD;">Sign In</button>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</div>


{% endblock content %}
